@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}

@using (Html.BeginForm())
{
    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 466px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Chọn hóa đơn mua hàng")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("~/Views/GoodsReceipts/_GetPurchaseInvoice.cshtml")
                </text>);

            tabstrip.Add().Text("Chọn phiếu chuyển kho")
                .Content(@<text>
                    @Html.Partial("~/Views/GoodsReceipts/_GetStockTransfer.cshtml")
                </text>);
        })
    )

    
    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="okButton" type="button" value="Ok" class="k-button" onclick="okButton_Click()" />
            <input id="cancelButton" type="button" value="Cancel" class="k-button" onclick="cancelButton_Click()" />
        </div>
    </div>
}


<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Helpers/StockTasks/goodsReceiptCreateWizard.js")"></script>


<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent($("#tabStrip").data("kendoTabStrip").select().index());
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }
</script>
